:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: green;
  color:black;
  margin: 0;
  max-width:1512px;
  width:100%;
  height:auto;
}

#grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:repeat(3, 1fr);
    grid-column-gap: 2%;
}

h1 {
  color:whitesmoke;
  padding:5%;
  text-shadow: 8px 8px 10px rgba(0,0,0,0.8);
  box-shadow: 6px 6px 8px rgba(0,0,0,0.7);
  border:4px black solid;
  background-color: lightgreen;
  font-size: 3.2em;
  line-height: 1.1;
  grid-row-start: 1; 
    grid-column-start: 1; 
    grid-row-end: 2; 
    grid-column-end: 4;
    margin-right:5%;
    margin-left:5%;
    text-align: center;
}

form {
  grid-area: 3/1/4/4; 
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
}

input {
  padding:1.5%;
  margin:1%;
  border:2px black solid;
  width:60%;
}

select {
  padding:1.5%; 
  margin:1%; 
  border:2px black solid;
  width:60%;
}

li {
  margin:2%;
  font-size: 1.4em; 
  font-weight: bold;
  color:whitesmoke;
  text-shadow: 6px 6px 8px rgba(0,0,0,0.7);
}

#submit {
  font-size: 1.2em;
  padding:1%; 
  border:2px black solid; 
  font-weight: bold; 
  border-radius: 15px; 
  width:30%;
}

#submit:hover {
  background-color: lightgreen;
  padding:1.5%;
  font-weight: bolder;
  cursor: pointer;
}

h2 {
  text-decoration: underline;
  text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.87);
  text-align: center;
  font-size: 2.0em;
}

#list {
  margin-right: 30%;
  grid-area:5/1/5/4;
  margin-left:30%;
}

#todoList {
  border: 4px white solid;
  box-shadow: 6px 6px 8px rgba(0,0,0,0.7);
  }

#deleteTodos {
  grid-area: 6/2/6/2; 
  font-size: 1.2em;
  width:40%; 
  padding:2%; 
  margin-left:33%;
  border:2px black solid; 
  font-weight: bold;
  border-radius: 15px;
  margin-top: 10%;
  margin-bottom: 10%;
}

#deleteTodos:hover {
  background-color: rgb(251, 49, 49);  
  font-weight: bolder; 
  padding:3%;
}

#footer-con {
  grid-area:7/1/8/4;
  padding: 2%;
}

#footer-headline {
  font-size: 1.3em;
}

footer{
  font-size: 1em;
  text-align: center;
  background-color: lightgreen;
  padding:2%;
  border: 4px black solid;
}

@media (max-width:1024px) {
  h1{grid-area:1/1/1/4; margin-left:10%; margin-right: 10%; font-size: 3em;}
  form {grid-area:3/1/4/4; margin-left: 10%; margin-right: 10%;}
  input {width:60%; padding:1.5%;}
  select {width:60%; padding:1.5%;}
  #submit {width:25%; font-size: 1.2em;}
  #list {margin-left: 20%; margin-right:20%;}
  #deleteTodos {width:55%; margin-left:22%; font-size: 1.2em;}
}

@media (max-width:600px) {
h1 {font-size: 2.2em;}
h2 {font-size: 2em;}
form {margin-left: 5%; margin-right: 5%;}
input {width:30%;}
select {width:30%;}
#submit {width:20%; font-size: 0.8em;}
li {font-size: 1.2em;}
#deleteTodos {grid-area:6/1/6/4; width:30%; margin-left:33%; font-size: 0.9em;}
footer {font-size: 0.8em;}
#footer-headline {font-size: 1.2em;}
}
