:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: green;
  color:black;
  margin: 0;
  max-width:1512px;
  width:100%;
  height:auto;
}

#grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:repeat(3, 1fr);
    grid-column-gap: 2%;
}

h1 {color:whitesmoke;
  padding:5%;
  text-shadow: 6px 6px 8px rgba(0,0,0,0.7);
  box-shadow: 6px 6px 8px rgba(0,0,0,0.7);
  border:2px black solid;
  background-color: lightgreen;
  font-size: 3.2em;
  line-height: 1.1;
  grid-row-start: 1; 
    grid-column-start: 2; 
    grid-row-end: 2; 
    grid-column-end: 2;
    text-align: center;
}

form {
  grid-area: 3/2/4/2; 
  display: flex;
  justify-content: center; 
  align-items: center;
}
input {
  padding:2%;
  margin:1%;
  border:2px black solid;
  width:80%;
}
select {
  padding:2%; 
  margin:1%; 
  border:2px black solid;
  width:80%;
}
li {
  font-size: 1.4em; 
  font-weight: bold;
  color:whitesmoke;
  text-shadow: 6px 6px 8px rgba(0,0,0,0.7);
}
#submit {
  padding:1%; 
  border:2px black solid; 
  font-weight: 800; 
  border-radius: 15px; 
  width:50%;
}

#submit:hover {
  background-color: lightgreen;
  padding:2%;}

h2 {
  font-size: 2.0em;
}
#list {
  grid-area:5/1/5/4;
  margin-left:35%;

}
#deleteTodos {grid-area: 6/2/6/2; 
  width:60%; 
  padding:2%; 
  margin-left:20%;
  border:2px black solid; 
  font-weight: bold;
  border-radius: 15px;
  margin-top: 10%;
}
#deleteTodos:hover {
  background-color: rgb(251, 49, 49);  
  font-weight: bolder; 
  padding:3%;
}
#footer-con {
  grid-area:7/1/8/4;
  padding: 2%;}

#footer-headline {
  font-size: 1.3em;
}

footer{
  font-size: 1em;
  text-align: center;
  background-color: lightgreen;
  padding:2%;
  border: 4px black solid;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (max-width:1024px) {
  h1{grid-area:1/1/1/4; margin-left:10%; margin-right: 10%; font: 3em;}
  form {grid-area:3/1/4/4; margin-left: 10%; margin-right: 10%;}
  input {width:60%; padding:1.5%;}
  select {width:60%; padding:1.5%;}
  #submit {width:25%; font-size: 1.2em;}
  #deleteTodos {width:75%; margin-left:10%; font-size: 1.2em;}
}

@media (max-width:600px) {
h1 {font-size: 2.2em;}
h2 {font-size: 2em;}
form {margin-left: 5%; margin-right: 5%;}
input {width:30%;}
select {width:30%;}
#submit {width:20%; font-size: 0.8em;}
#deleteTodos {grid-area:6/1/6/4; width:50%; margin-left:25%; font-size: 0.9em;}
footer {font-size: 0.8em;}

}
